# Default ignored files
/../../They love me, they love me not./.idea/shelf/
/../../They love me, they love me not./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../They love me, they love me not./.idea/httpRequests/
